html, head, body {
    /* important to add margin for body too... */
    margin: 0px; 
    background-color: #ACE4A3;
    font-family: monospace
}

/*pentru a face frumos cu footer-ul sa fie jos*/
body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #FFCCCC;
}

.content {
    background-color: #ACE4A3;
}

.footer {
    background-color: #0f8050;
    margin-top: auto;
}
/*pentru a face frumos cu footer-ul sa fie jos*/

header {
    background-color: #0f8050;
    padding: 1px;
    font-size: 30px;
}

header > h1 {
    text-align: left;
    text-indent: 25px;
    color: #FFDDE2;
    text-shadow: 3px 2px 3px #FF0000;
}

.login_register {
    float: right;
    justify-content: end;
    padding-right: 20px;
    margin-left: 0px; 
    margin-right: 0px;
}

.login_register td > div > button {
    background-color: #af4c4c; /* Green */
    border: 1px solid black;
    color: #FFDDE2;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 170px;
}

body > main {
    text-indent: 25px;
}

nav {
    background-color: #065535;
    font-size: 30px;

    display: flex;
    padding: 10px;
    justify-content: center;

    border-top: 1px solid #008C76;
    border-bottom: 1px solid #FAA094;
}

nav > a {
    text-decoration: none;
    /* border: 1px dotted #FF1133; */
    color: #CCFFCC; /*33F->3333FFse dubleaza*/
    margin-left: 50px; /*distanta dintre texte*/
}

nav > a:hover {
    text-decoration: underline;
}

nav > a:visited {
    color: purple;
}

h1 {
    color:green;
    text-align: center;
    font-size: 40px;
}

main {
    margin-left: 200px;
    margin-right: 200px;
}

main > h2 {
    color: #008C76;
    text-align: center;
    font-size: 35px;
}

main > h3 > a {
    text-decoration: none;
    color: #008C76; /*33F->3333FFse dubleaza*/
    font-size: 25px;
}

/* pseudo-element */
main > h3 > a:hover {
    text-decoration: underline;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

    text-indent: 0px; /* ca sa nu mai inceapa alte paragrafe*/

    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}

/* pseudo-element */
p::first-letter {
    font-weight: bold;
}

/*labels*/
label {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
label[id="login_user"]{
    width: 300px;
    height: 30px;
}
label[id="login_password"]{
    width: 300px;
    height: 30px;
}

/*inputs*/
input[type=text] {
    width: 200px;
    height: 30px;
}
input[type=password] {
    width: 200px;
    height: 30px;
}
input[type=email] {
    width: 200px;
    height: 30px;
}
input[type=tel] {
    width: 200px;
    height: 30px;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
}

/*button*/
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*hover property*/
a, button {
    cursor: pointer;
}

fieldset {
    width: 300px;
}

/* for login container details */
div.container_login {
    margin-left: 325px;
    margin-right: 325px;
}

div.container_login > legend {
    text-align: center;
    color: #0f8050;
    font-weight: bold;
    font-size: 30px;
}

#LOGIN_BUTTON{
    background-color: #0f8050;
    width: 200px;
    height: 30px;
}

/* for register container details */
div.container_inregistrare {
    margin-left: 250px;
    margin-right: 250px;
}

.login_register td > div > button{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

p, footer{
    font-family: cursive
}

.container{
    min-width: 1100px;
}

/* am pus fara footer, pentru ca nu mai aparea at the bottom */
.container_without_footer{
    display: table;
    width: 100%;
}